<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058632461872-njaqm8fdmpttmn44vo7dp45ldk5am2o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058632461872-njaqm8fdmpttmn44vo7dp45ldk5am2o3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058632461872-ccf12aisgsg3kk900b7t4cn17abmppij.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfs1e2gRRptNywu41fn-gDiO8rwI6bSaU</string>
	<key>GCM_SENDER_ID</key>
	<string>1058632461872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitenotes</string>
	<key>PROJECT_ID</key>
	<string>chatbox-2926c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbox-2926c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058632461872:ios:d064dbcf1d631f15e347f5</string>
	<key>DATABASE_URL</key>
	<string>https://chatbox-2926c-default-rtdb.firebaseio.com</string>
</dict>
</plist>